<!-- SIDEBAR -->
<aside class="col-md-3 sidebar" id="sidebar">
    <!-- widget search -->
    <div class="widget">
        <div class="widget-search">
            <input class="form-control" type="text" placeholder="Search Posts">
            <button><i class="fa fa-search"></i></button>
        </div>
    </div>
    <!-- /widget search -->

    <!-- widget shop categories -->
    <div class="widget shop-categories">
        <h4 class="widget-title">Categories</h4>
        <div class="widget-content">
            <ul>
                <li>
                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                    <a href="#">Category</a>
                    <ul class="children">
                        <li>
                            <a href="#">
                                Tag
                                <span class="count">00</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Sale Off</a></li>
            </ul>
        </div>
    </div>
    <!-- /widget shop categories -->

    <!-- widget tabs -->
    <div class="widget widget-tabs alt">
        <div class="widget-content">
            <ul id="tabs" class="nav nav-justified">
                <li><a href="#tab-s1" data-toggle="tab">Recent posts</a></li>
                <li class="active"><a href="#tab-s2" data-toggle="tab">Popular post</a></li>
            </ul>
            <div class="tab-content">
                <!-- tab 1 -->
                <div class="tab-pane fade" id="tab-s1">
                    <div class="recent-post">
                        @foreach (var post in Model.Sidebar.RecentPosts)
                        {
                            <div class="media">
                                <a class="pull-left media-link" href="#">
                                    <img class="media-object" src="~/assets/img/preview/blog/recent-post-3w.jpg" alt="">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <div class="media-body">
                                    <div class="media-meta">
                                        @post.Created.ToString("MMMM dd, yyyy")
                                        <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>@post.Likes</a>
                                    </div>
                                    <h4 class="media-heading"><a href="~/blog/@post.Title">@post.Title</a></h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- tab 2 -->
                <div class="tab-pane fade in active" id="tab-s2">
                    <div class="recent-post">
                        @foreach (var post in Model.Sidebar.PopularPosts)
                        {
                            <div class="media">
                                <a class="pull-left media-link" href="#">
                                    <img class="media-object" src="~/assets/img/preview/blog/recent-post-1w.jpg" alt="">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <div class="media-body">
                                    <div class="media-meta">
                                        @post.Created.ToString("MMMM dd, yyyy")
                                        <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>@post.Likes</a>
                                    </div>
                                    <h4 class="media-heading"><a href="~/blog/@post.Slug">@post.Title</a></h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <a class="btn btn-theme btn-theme-transparent btn-theme-sm btn-block" href="~/blog">More Posts</a>
        </div>
    </div>
    <!-- /widget tabs -->

    <!-- widget archives -->
    @if (Model.Sidebar.EnableArchive)
    {
        <div class="widget shop-categories">
            <h4 class="widget-title">Archives</h4>
            <div class="widget-content">
                <ul>
                    <li>
                        <span class="arrow"><i class="fa fa-angle-down"></i></span>
                        <a href="#">January<span class="count">12</span></a>
                        <ul class="children">
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="arrow"><i class="fa fa-angle-down"></i></span>
                        <a href="#">February<span class="count">12</span></a>
                        <ul class="children">
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="arrow"><i class="fa fa-angle-down"></i></span>
                        <a href="#">March<span class="count">12</span></a>
                        <ul class="children">
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="arrow"><i class="fa fa-angle-down"></i></span>
                        <a href="#">April<span class="count">12</span></a>
                        <ul class="children">
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="arrow"><i class="fa fa-angle-up"></i></span>
                        <a href="#">May<span class="count">12</span></a>
                        <ul class="children active">
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                            <li>
                                <a href="#">Sample Post Name</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    }
    <!-- /widget archive -->

    <!-- widget tag cloud -->
    <div class="widget widget-tag-cloud">
        <h4 class="widget-title"><span>Tags</span></h4>
        <ul>
            @foreach (var tag in Model.Sidebar.Tags)
            {
                <li><a href="~/blog/tag/@tag.Slug">@tag.Name</a></li>
            }
        </ul>
    </div>
    <!-- /widget tag cloud -->

    <!-- Advertisement -->
    <div class="widget widget-tag-cloud">
        <h4 class="widget-title"><span>Specials</span></h4>
        <div class="recent-tweets">
            Advertisement Special 1
        </div>
    </div>
    <!-- /Advertisement -->

</aside>
<!-- /SIDEBAR -->