@{
    Layout = "_Layout";
}

<div class="content-area">

    @if (Model.Category != null || Model.Tag != null)
    {
        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs">
            <div class="container">
                <div class="page-header">
                    @if (Model.Category != null)
                    {
                    <h1>@Model.Category.Name</h1>
                    }

                    @if (Model.Tag != null)
                    {
                    <h1>@Model.Tag.Name</h1>
                    }
                </div>
                <ul class="breadcrumb">
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/blog">Blog</a></li>

                    @if (Model.Category != null)
                    {
                        <li><a href="~/blog/category/@Model.Category.Slug">@Model.Category.Name</a></li>
                    }

                    @if (Model.Tag != null)
                    {
                        <li><a href="~/blog/tag/@Model.Tag.Slug">@Model.Tag.Name</a></li>
                    }

                    @*<li class="active">@Model.Post.Title</li>*@
                </ul>
            </div>
        </section>
        <!-- /BREADCRUMBS -->
    }


    <!-- PAGE WITH SIDEBAR -->
    <section class="page-section with-sidebar">
        <div class="container">
            <div class="row">

                @{ await Html.RenderPartialAsync("_Sidebar"); }

                <!-- CONTENT -->
                <div class="col-md-9 content" id="content">
                    <!-- Blog posts -->

                    @foreach (var post in Model.Posts)
                    {
                        <article class="post-wrap">
                            <div class="post-media">
                                <a href="~/assets/img/preview/blog/blog-post-1.jpg" data-gal="prettyPhoto"><img src="@post.Banner" alt=""></a>
                            </div>
                            <div class="post-header">
                                <h2 class="post-title"><a href="/blog/@post.Slug">@post.Title</a></h2>
                                <div class="post-meta">By <a href="/users/@post.User.UserName.ToLower()">@post.User.UserName</a> / @post.Created.ToString("dddd, MMMM dd yyyy") / in <a href="/blog/category/@post.Category.Slug">@post.Category.Name</a> / <a href="#">Share This Post</a></div>
                            </div>
                            <div class="post-body">
                                <div class="post-excerpt">
                                    <p>
                                        @post.GetExcerpt(400)
                                    </p>
                                </div>
                            </div>
                            <div class="post-footer">
                                <span class="post-read-more"><a href="/blog/@post.Slug" class="btn btn-theme btn-theme-transparent btn-icon-left"><i class="fa fa-file-text-o"></i>Read more</a></span>
                            </div>
                        </article>
                    }

                    <!-- / -->
                    <!-- Pagination -->
                    <div class="pagination-wrapper">
                        <ul class="pagination">

                            <li class="@(Model.Pagination.CanGoPrevPage ? "" : "disabled")"><a href="?page=@Model.Pagination.PrevPage"><i class="fa fa-angle-double-left"></i> Previous</a></li>

                            @for (var pageNum = Model.Pagination.MinPage; pageNum <= Model.Pagination.MaxPage; pageNum++)
                            {
                                <li class="@(Model.Pagination.CurrentPage == pageNum ? "active" : "")"><a href="?page=@pageNum">@pageNum</a></li>
                            }

                            <li class="@(Model.Pagination.CanGoNextPage ? "" : "disabled")"><a href="?page=@Model.Pagination.NextPage">Next <i class="fa fa-angle-double-right"></i></a></li>

                        </ul>
                    </div>
                    <!-- /Pagination -->
                </div>
                <!-- /CONTENT -->
            </div>
        </div>
    </section>
    <!-- /PAGE WITH SIDEBAR -->
    <!-- PAGE -->
    <section class="page-section no-padding-top">
        <div class="container">
            <div class="row blocks shop-info-banners">
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-gift"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Buy 1 Get 1</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-comments"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Call to Free</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-trophy"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Money Back!</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
</div>