@{ 
    Layout = "_Layout";
}

<div class="content-area">
    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>Blog Post Page</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li class="active">Blog With Left Sidebar</li>
            </ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->

    <section class="page-section with-sidebar">
        <div class="container">
            <div class="row">

                @{ await Html.RenderPartialAsync("_Sidebar"); }

                <!-- CONTENT -->
                <div class="col-md-9 content" id="content">
                    <!-- Blog post -->
                    <article class="post-wrap post-single">
                        <div class="post-media">
                            <a href="~/assets/img/preview/blog/blog-post-1.jpg" data-gal="prettyPhoto"><img src="~/assets/img/preview/blog/blog-post-1.jpg" alt=""></a>
                        </div>
                        <div class="post-header">
                            <h2 class="post-title"><a href="#">@Model.Post.Title</a></h2>
                            <div class="post-meta">By <a href="/users/@Model.Post.User.UserName">@Model.Post.User.UserName</a> / @Model.Post.Created.ToString("dddd, MMMM dd yyyy") / in <a href="/blog/category/@Model.Post.Category.Slug">@Model.Post.Category.Name</a> / <a href="#">Share This Post</a></div>
                        </div>
                        <div class="post-body">
                            @*<div class="post-excerpt">
                        <p class="text-xl">Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna,...</p>
                        <p>Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante. Quisque suscipit mauris ipsum, eu mollis arcu laoreet vel. In posuere odio sed libero tincidunt commodo a vel ipsum. Mauris fringilla tellus aliquam, egestas sem in, malesuada nunc. Etiam condimentum felis odio, vel mollis est tempor non...</p>
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <blockquote>
                            <h4>Fusce gravida interdum eros a mollis.</h4>
                            <p>Sed non lorem varius, volutpat nisl in, laoreet ante. Quisque suscipit mauris ipsum, eu mollis arcu laoreet vel.</p>
                        </blockquote>
                        <p>Fusce gravida interdum eros a mollis. Sed non lorem varius, volutpat nisl in, laoreet ante. Quisque suscipit mauris ipsum, eu mollis arcu laoreet vel. In posuere odio sed libero tincidunt commodo a vel ipsum. Mauris fringilla tellus aliquam, egestas sem in, malesuada nunc. Etiam condimentum felis odio, vel mollis est tempor non...</p>
                    </div>*@
                            <p>@Html.Raw(Model.Post.Html)</p>
                        </div>
                    </article>
                    <!-- /Blog post -->
                    <!-- About the author -->
                    <div class="about-the-author clearfix">
                        <div class="media">
                            <img class="media-object pull-left" src="~/assets/img/preview/blog/avatar-author.jpg" alt="">
                            <div class="media-body">
                                <p class="media-category">@Model.Post.User.FirstName @Model.Post.User.LastName</p>
                                <h4 class="media-heading"><a target="_blank" href="http://twitter.com/@Model.Post.User.TwitterHandle">@@@(Model.Post.User.TwitterHandle)</a></h4>
                                <p>@Model.Post.User.Excerpt</p>
                            </div>
                        </div>
                    </div>
                    <!-- /About the author -->
                    <!-- PAGE -->
                    <section class="page-section">
                        <a class="btn btn-theme btn-title-more btn-icon-left" href="/blog"><i class="fa fa-file-text-o"></i>See All Posts</a>
                        <h2 class="block-title"><span>Related Posts</span></h2>
                        <div class="row">
                            @foreach (var post in Model.RelatedPosts)
                            {
                                <div class="col-md-4">
                                    <div class="recent-post alt">
                                        <div class="media">
                                            <a class="media-link" href="#">
                                                <img class="media-object" src="@post.Thumbnail" alt="">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="/blog/@post.Slug">@post.Title</a></h4>
                                                <p class="media-category"><a href="/blog/category/@post.Category.Slug">@post.Category.Name</a></p>
                                                @post.GetExcerpt(95)
                                                <div class="media-meta">
                                                    @post.Created.ToString("MMMM dd yyyy")
                                                    <span class="divider">/</span><a href="#"><i class="fa fa-comment"></i>27</a>
                                                    <span class="divider">/</span><a href="#"><i class="fa fa-heart"></i>18</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </section>
                    <!-- /PAGE -->
                    <!-- PAGE -->
                    <section class="page-section no-padding-bottom">
                        @*<a class="btn btn-theme btn-title-more btn-icon-left" href="#"><i class="fa fa-file-text-o"></i>See All</a>*@
                        <h4 class="block-title"><span>Comments <span class="thin">(<a href="#disqus_thread"></a>)</span></span></h4>
                        <!-- Comments -->
                        <div id="disqus_thread"></div>
                        <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function () { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://peppermint-1.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                        @*<div class="comments">
                    <div class="media comment">
                        <a href="#" class="pull-left comment-avatar">
                            <img alt="" src="~/assets/img/preview/avatars/avatar-1.jpg" class="media-object">
                        </a>
                        <div class="media-body">
                            <p class="comment-meta"><span class="comment-author"><a href="#">Post Comment User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                            <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
                            <p class="comment-reply"><a href="#">Reply this comment</a><i class="fa fa-comment"></i></p>
                            <div class="media comment">
                                <a href="#" class="pull-left comment-avatar">
                                    <img alt="" src="~/assets/img/preview/avatars/avatar-2.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <p class="comment-meta"><span class="comment-author"><a href="#">Post Comment User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                                    <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
                                    <p class="comment-reply"><a href="#">Reply this comment</a><i class="fa fa-comment"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media comment">
                        <a href="#" class="pull-left comment-avatar">
                            <img alt="" src="~/assets/img/preview/avatars/avatar-3.jpg" class="media-object">
                        </a>
                        <div class="media-body">
                            <p class="comment-meta"><span class="comment-author"><a href="#">Post Comment User Name Here</a> <span class="comment-date"> 26 days ago <i class="fa fa-flag"></i></span></span></p>
                            <p class="comment-text">Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismd. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere.</p>
                            <p class="comment-reply"><a href="#">Reply this comment</a><i class="fa fa-comment"></i></p>
                        </div>
                    </div>
                </div>*@
                        <!-- /Comments -->
                        <!-- Leave a Comment -->
                        @*<div class="comments-form">
                    <h4 class="block-title">Submit Your Comment</h4>
                    <form method="post" action="#" name="comments-form" id="comments-form">
                        <div class="form-group"><input type="text" placeholder="Your name and surname" class="form-control" title="comments-form-name" name="comments-form-name"></div>
                        <div class="form-group"><input type="text" placeholder="Your email adress" class="form-control" title="comments-form-email" name="comments-formemail"></div>
                        <div class="form-group"><textarea placeholder="Your message" class="form-control" title="comments-form-comments" name="comments-form-comments" rows="6"></textarea></div>
                        <div class="form-group"><button type="submit" class="btn btn-theme btn-theme-transparent btn-icon-left" id="submit"><i class="fa fa-comment"></i> Send Comment</button></div>
                    </form>
                </div>*@
                        <!-- /Leave a Comment -->
                    </section>
                    <!-- /PAGE -->
                </div>
                <!-- /CONTENT -->
            </div>
        </div>
    </section>

    <!-- PAGE -->
    <section class="page-section no-padding-top">
        <div class="container">
            <div class="row blocks shop-info-banners">
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-gift"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Buy 1 Get 1</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-comments"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Call to Free</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-trophy"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Money Back!</h4>
                                Proin dictum elementum velit. Fusce euismod consequat ante.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
</div>

<!-- Disqus Comment Count -->
<script id="dsq-count-scr" src="//peppermint-1.disqus.com/count.js" async></script>